rag agent/pinecode drive data load.json
{
  "name": "pinecode drive data load",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1nl7dy_inUxPYDTGw3AEBMm67rcXEoO_x",
          "mode": "list",
          "cachedResultName": "ragbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nl7dy_inUxPYDTGw3AEBMm67rcXEoO_x"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -48
      ],
      "id": "684fe3dd-dbf4-409b-9f33-a022010141de",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qrf5V8eEHZ2o2ZgG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        -48
      ],
      "id": "d7479ef1-f40c-4769-a57d-bfc4694f3e61",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qrf5V8eEHZ2o2ZgG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        -48
      ],
      "id": "85a1fbbf-04ad-4147-8dfb-ccaef9fe924e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bo7ortlsKLPXZFDU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        128
      ],
      "id": "788575a9-a4db-482c-84bb-56ef16173d39",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aKRKEYznIATQe3Oq",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.originalFilename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        304,
        160
      ],
      "id": "72930367-53ad-4b01-98bb-62d19b9cb1a3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        400,
        368
      ],
      "id": "51f10366-67d1-4928-adab-0ce6643323cd",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "669ead97-b08f-43ee-93b3-878af6efbfec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7309d850899abbe1262526ca8edf6ae1478b4c238b5881fb5c04cc896d1bef9f"
  },
  "id": "81QIvNZIP3u16kWe",
  "tags": []
}