glass asmr/Glass_Fruit_ASMR.json
{
  "name": "Glass Fruit ASMR",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}"
            },
            {
              "name": "aspect_ratio",
              "value": "9:16"
            },
            {
              "name": "generate_audio",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        752
      ],
      "id": "60a6ce60-9c2b-4a9a-aa20-fa079a22d9d8",
      "name": "Generate Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CBvnONsJhkSqwpcx",
          "name": "FAL AI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        752
      ],
      "id": "8ea07e43-e2fc-4d65-96d5-48d303b82c16",
      "name": "Get Result",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CBvnONsJhkSqwpcx",
          "name": "FAL AI"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c66c7c13-57ca-4191-9af3-5ab306dfedfc",
              "name": "Video URL",
              "value": "={{ $json.video.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        752
      ],
      "id": "3072c25b-cc5f-4370-a342-efdf3ae1719e",
      "name": "Result"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2096,
        752
      ],
      "id": "f8866085-51e7-4fdf-82ea-5f903609f401",
      "name": "5 Minutes",
      "webhookId": "caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1664,
        352
      ],
      "id": "983247c1-677c-4bae-a2fb-8ca4c533e46e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yNbnJXRHsS34USpHNEazeIfLGb1x0pc4nQBtbLXYpyQ",
          "mode": "list",
          "cachedResultName": "Glass Fruit ASMR ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yNbnJXRHsS34USpHNEazeIfLGb1x0pc4nQBtbLXYpyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yNbnJXRHsS34USpHNEazeIfLGb1x0pc4nQBtbLXYpyQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1872,
        352
      ],
      "id": "9d407f63-fff3-45a1-81f9-131a16a51a66",
      "name": "Get Past Objects",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mWvieObI4kmdKClg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.object }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of a glass object (e.g. \"glass apple\", \"glass mushroom\", \"glass croissant\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being cut in a close-up ASMR scene.\n\n## Core Requirements:\n- The video must feel cinematic and photorealistic.\n- Scene is a static, close-up shot of a dark wooden cutting board and a large, heavy steel knife.\n- Cutting must look physically possible — glass should break cleanly, not shatter, with smooth, controlled slices.\n- The video starts immediately with the cutting action.\n- The object must retain some color (e.g. red glass apple, green glass pear) — not fully transparent — to create visual contrast.\n- No humans visible. Only one hand holding the knife, the other stabilizing the object.\n- The cut should include **four distinct ASMR sound layers**:\n  1. The sharp tap of the knife touching the glass  \n  2. The smooth, controlled slicing sound through the glass  \n  3. The soft thud as the knife hits the board  \n  4. The delicate clink as the cut piece lands on the board  \n- The **initial knife-glass contact should sound especially crisp and prominent**, like metal striking polished glass.\n\n## Prompt Requirements\n1. **Scene Description**: Detail the board material (e.g. walnut), light setup (e.g. soft top-down), and camera style.\n2. **Object Detail**: Describe the object’s color, shape, texture, and reflective qualities.\n3. **Cutting Action**: Describe the cut from start to finish with a smooth break — no splintering or shattering.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n   - Knife-glass contact\n   - The clean slice through colored glass\n   - The thud of knife on wood\n   - The glass piece gently hitting the board\n5. **Ambience**: Total silence except for cutting sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed [glass object] resting on a dark wooden cutting board.  \n**Setting**: Static close-up, soft natural lighting, minimal background.  \n**Action**: A large steel knife slowly slices through the [glass object], breaking it into perfect segments with a deliberate, cinematic cut.  \n**Style**: Cinematic ASMR realism, photorealistic lighting and textures.  \n**Sound**: Four high-fidelity sound layers in each cut — (1) ultra high definition sound as the knife makes contact with the glass, (2) a clean, smooth slicing sound, (3) a muted wooden thud, and (4) a precise clink as each piece lands. The initial tap should be especially sharp and prominent, emphasizing the contact of steel on glass. No other audio.  \n**Camera Motion**: Fixed camera with slight focus shifts during movement.  \n**Composition**: Centered object, knife enters from edge.  \n**Ambiance**: Pin-drop silence around the cutting sounds.  \n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed — like they can hear and feel every slice. Visually surreal, physically satisfying."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1648,
        688
      ],
      "id": "a389aed7-8335-45c2-9fba-ce39122d981b",
      "name": "Prompt Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Objects: {{ $json.objects.join(\", \") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview  \nYou are an AI agent that selects unique **fruits** for ASMR-style glass cutting videos.\n\n## Your Task  \nYou will receive a list of 7 fruits that have already been used.  \nYour job is to generate **one new fruit** that is **not on that list**, and would look visually compelling if it were made of **glass** and cut with a knife in a close-up ASMR video.\n\n## Requirements\n- The fruit must **not repeat** any of the 7 provided items.  \n- The fruit must have a **clear, recognizable shape** and be **physically feasible** to cut with a knife (even if it’s made of glass).  \n- Prioritize fruits that would look **aesthetic and interesting** with a translucent, colored glass texture.  \n- Do **not** explain or describe the fruit.\n\n## Output Format  \nOutput a JSON object with the following structure:\n\n{\n  \"object\": \"Glass [Object name]\",\n  \"caption\": \"Glass [Object name] ASMR\"\n}\n\nReplace `[object name]` with the newly generated fruit. Do not include any punctuation or commentary.\n\n## Example Output  \n{\n  \"object\": \"Glass Apple\",\n  \"caption\": \"Glass Apple ASMR\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2400,
        304
      ],
      "id": "49715172-7201-4b38-a65b-714b734c5384",
      "name": "Idea Agent"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2048,
        352
      ],
      "id": "0213c436-fd42-4e9a-ac60-19f4a95a37dc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf818c10-ad6d-4349-830f-393529a79d62",
              "name": "objects",
              "value": "=[\"{{ $json.data[0].Object }}\",\"{{ $json.data[1].Object }}\",\"{{ $json.data[2].Object }}\",\"{{ $json.data[3].Object }}\",\"{{ $json.data[4].Object }}\",\"{{ $json.data[5].Object }}\",\"{{ $json.data[6].Object }}\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2224,
        352
      ],
      "id": "60d09cb6-8c3c-4c14-aeac-449a807f0601",
      "name": "Set Object List"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4912,
        1088
      ],
      "id": "aef6bbc6-48d3-4d0a-9526-e1262c352b04",
      "name": "YouTube",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jiTiQlZfT3jsZx5s",
          "name": "Blotato"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4912,
        704
      ],
      "id": "44fa3e2b-a1a7-4a1b-970b-e61525918964",
      "name": "TikTok",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZBKMvwPyZbGjdKB3",
          "name": "Tavily"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4912,
        896
      ],
      "id": "965422ed-3a5c-4a4a-9311-744985b717a0",
      "name": "Instagram",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.URL }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4752,
        1088
      ],
      "id": "5361915b-a372-4f03-bd7f-8ba2c2345aab",
      "name": "Upload to Blotato",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jiTiQlZfT3jsZx5s",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1yNbnJXRHsS34USpHNEazeIfLGb1x0pc4nQBtbLXYpyQ",
          "mode": "list",
          "cachedResultName": "Glass Fruit ASMR ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yNbnJXRHsS34USpHNEazeIfLGb1x0pc4nQBtbLXYpyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yNbnJXRHsS34USpHNEazeIfLGb1x0pc4nQBtbLXYpyQ/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1744,
        1104
      ],
      "id": "7378c687-1935-4053-801d-0f4ba0174f2f",
      "name": "Delete First Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mWvieObI4kmdKClg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yNbnJXRHsS34USpHNEazeIfLGb1x0pc4nQBtbLXYpyQ",
          "mode": "list",
          "cachedResultName": "Glass Fruit ASMR ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yNbnJXRHsS34USpHNEazeIfLGb1x0pc4nQBtbLXYpyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Object": "={{ $('Idea Agent').item.json.output.object }}",
            "URL": "={{ $('Result').item.json['Video URL'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Object",
              "displayName": "Object",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1920,
        1104
      ],
      "id": "05ec2c9f-2c05-42d6-9fc4-013e962d1dd2",
      "name": "Append Object",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mWvieObI4kmdKClg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"object\": {\n      \"type\": \"string\",\n      \"description\": \"A new object name in the format 'glass [object]', all lowercase with no punctuation.\"\n    },\n    \"caption\": {\n      \"type\": \"string\",\n      \"description\": \"A caption in the format 'glass [object] ASMR', matching the object field exactly.\"\n    }\n  },\n  \"required\": [\"object\", \"caption\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2592,
        432
      ],
      "id": "f070da10-c369-4770-8792-64a3d68062ed",
      "name": "Object & Caption"
    },
    {
      "parameters": {
        "content": "# Part 1) Idea Generation",
        "height": 300,
        "width": 1140,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        240
      ],
      "id": "52cae1ad-0be9-471a-bd09-321e8ecdb2e5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Part 2) Video Generation",
        "height": 348,
        "width": 1236,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        624
      ],
      "id": "01b00e65-1368-4589-a148-f9f15d09118a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Part 3) Posting to Socials",
        "height": 300,
        "width": 1140,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        1008
      ],
      "id": "67a7f292-6986-4f3d-b14c-d213a5d321fe",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        752
      ],
      "id": "b12f234e-b751-4c49-8dd5-6f3d5050392b",
      "name": "30 Seconds",
      "webhookId": "5f6bbd1e-a155-48de-b737-a225c6fd7a84"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        2400,
        448
      ],
      "id": "3b3d0fd5-1ff9-47a4-a0ec-a109fc44cefb",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "UBxYQfjInSh9joKQ",
          "name": "CohereApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        1648,
        848
      ],
      "id": "f56bae9a-7006-4f7b-89c3-5b3c5b7e1522",
      "name": "Cohere Chat Model1",
      "credentials": {
        "cohereApi": {
          "id": "UBxYQfjInSh9joKQ",
          "name": "CohereApi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Idea Agent').item.json.output.caption }}",
        "regionCode": "BD",
        "categoryId": "=24",
        "binaryProperty": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2400,
        1104
      ],
      "id": "81ced5e9-db78-4b1c-b1f5-ba854ce7db63",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "fZnLB8Ab0MSe5Q1C",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2128,
        1104
      ],
      "id": "f334bf1e-3e3e-4681-88d8-e4530fb66af4",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Generate Video": [
      {
        "json": {
          "status": "IN_QUEUE",
          "request_id": "3bdd694e-6c01-460c-a7c6-bdde8a766a75",
          "response_url": "https://queue.fal.run/fal-ai/veo3/requests/3bdd694e-6c01-460c-a7c6-bdde8a766a75",
          "status_url": "https://queue.fal.run/fal-ai/veo3/requests/3bdd694e-6c01-460c-a7c6-bdde8a766a75/status",
          "cancel_url": "https://queue.fal.run/fal-ai/veo3/requests/3bdd694e-6c01-460c-a7c6-bdde8a766a75/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0
        }
      }
    ],
    "Append Object": [
      {
        "json": {
          "Object": "Glass Apple",
          "URL": "https://v3b.fal.media/files/b/0a846ffa/Pt63ndFkjk9drdv9hid-9_output.mp4"
        }
      }
    ]
  },
  "connections": {
    "Generate Video": {
      "main": [
        [
          {
            "node": "5 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result": {
      "main": [
        [
          {
            "node": "Delete First Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Minutes": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Past Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Past Objects": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Agent": {
      "main": [
        [
          {
            "node": "Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set Object List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Object List": {
      "main": [
        [
          {
            "node": "Idea Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Blotato": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete First Row": {
      "main": [
        [
          {
            "node": "Append Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Object": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Object & Caption": {
      "ai_outputParser": [
        [
          {
            "node": "Idea Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "30 Seconds": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64b3ab4b-99ae-4f40-8ba9-e89f2ff3cf06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e66b9e3973c4edf6b55b1b81fa1d1bc71c7c78ce4efb1d260e75428e6c64a933"
  },
  "id": "b2MZswLSDVaEPN4I",
  "tags": []
}